.container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.container-25 {
  width: 25% !important;
}

.container-33 {
  width: 33% !important;
}

.container-50 {
  width: 50% !important;
}

.container-66 {
  width: 66% !important;
}

.container-75 {
  width: 75% !important;
}

.justify-content-center {
  justify-content: center;
}

.navbar {
  padding: 0 168px;
}

.gutters {
  padding: 0 10%;
}
