@media screen and (max-width: 768px) {
  .container-25 {
    width: 100% !important;
  }
  .container-33 {
    width: 100% !important;
  }
  .container-50 {
    width: 100% !important;
  }
  .container-66 {
    width: 100% !important;
  }
  .container-75 {
    width: 75% !important;
  }
}

@media screen and (min-width: 769px) {
}

.align-items-center {
  align-items: center;
}

.button-primary {
  background-color: #6abfc3;
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 3.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.button-primary:hover {
  background-color: rgba(106, 191, 195, 0.75);
}

.button-secondary {
  background-color: #cc9543;
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 3.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.button-secondary:hover {
  background-color: rgba(204, 149, 67, 0.75);
}

.container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.container-25 {
  width: 25%;
}

.container-33 {
  width: 33%;
}

.container-50 {
  width: 50%;
}

.container-66 {
  width: 66%;
}

.container-75 {
  width: 75%;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.navbar {
  padding: 0 168px;
  margin-bottom: 50px;
}

.gutters {
  padding: 0 10%;
}

.text-center {
  text-align: center;
}
