@media screen and (min-width: 301px) and (max-width: 797px) {
  .navbar {
    padding: 0 !important;
  }
  #links-container {
    display: none;
  }
  #navbar-logo {
    max-width: 38px !important;
  }
  #navbar-iso {
    font-size: 0.9em !important;
  }
}

@media screen and (min-width: 798px) and (max-width: 1200px) {
  #navbar-logo {
    max-width: 38px !important;
  }
  #navbar-iso {
    font-size: 0.9em !important;
  }
}

.headline {
  padding-block-end: 1.875rem;
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #ce973e;
  text-align: center;
}

.gradient {
  background-image: linear-gradient(to bottom, #fff, #eee);
}

.navbar {
  display: flex;
}

.navbar-items {
  min-width: 375px;
}

.navbar-link {
  display: inline;
  color: #676767;
  white-space: nowrap;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0 5px;
}

.subheading {
  padding-bottom: 4.375rem;
  color: rgba(74, 74, 74, 0.7);
  font-size: 1.125rem;
  letter-spacing: 0.2px;
}

.tile-headline {
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  color: #4a4a4a;
  font-weight: bold;
  margin: 50px 0 20px;
}

.tile-subheading {
  color: rgba(74, 74, 74, 0.7);
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  line-height: 1.88;
}

.tiles-headline {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.3px;
  color: #4a4a4a;
  margin-bottom: 36px;
  margin-top: 100px;
}

.tiles-subheading {
  color: rgba(74, 74, 74, 0.7);
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  padding-top: 1em;
  margin-bottom: 100px;
  line-height: 1.88;
}

#header {
  padding-bottom: 3.75rem;
}

#links-container {
  justify-content: flex-end !important;
}

#logo {
  display: flex;
  align-items: center;
  min-width: 200px;
}

#navbar-logo {
  max-width: 58px;
}

#navbar-iso {
  color: #cc9543;
  letter-spacing: 0.4px;
  font-weight: bold;
  font-size: 1.6em;
  padding-left: 0.5em;
  max-width: 371px;
}

#tiles {
  margin-bottom: 70px;
}
