#navbar-text {
  flex: 1;
  color: #cc9543;
  text-transform: uppercase;
  font-family: "Norse";
  letter-spacing: 0.4px;
  font-weight: bold;
  font-size: 1.6em;
  display: inline-block;
  padding-left: 0.5em;
}
#navbar-links {
  color: rgba(74, 74, 74, 0.7);
  text-decoration: none;
  letter-spacing: 0.2px;
  font-size: 1em;
  font-weight: bold;
}
